<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>


</head>
<style type="text/css">
  div {
    text-align: center;
  }
</style>
<script src="<?php echo PUB; ?>Public/js/jquery-1.4.4.min.js" type="text/javascript"></script>
<body>
  <div style="height: 50px;"></div>
<div >
<form id="form1" name="form1" method="post" action="<?php echo PUB; ?>Home/Paper/editPaper/id/<?php echo $arr['id']; ?>" onsubmit="return checkAll();">
  <p>添加纸板</p>
  <p id='flag' style="color:red;"></p>
   <p>
    
    供应商：<select name="sup_id" id="sup_id" onchange="checkSup();" >
    <option value="0">请选择</option>
    <?php foreach ($suplist as $sup): ?>

      <option <?php echo $arr['sup_id']==$sup['id']?"selected='selected'":""; ?> value="<?php echo $sup['id']?>">
        <?php echo $sup['sup_name']; ?>
      </option>

   <?php endforeach; ?>
    </select>
  </p>
  <p>
    纸板材质名称：
    <input type="text" name="paper_property" id="paper_property" onblur="checkprop();" value=
    <?php echo $arr['paper_property'] ; ?> />
  </p>
  <p>
    
    纸板瓦楞类型：
    <input type="text" name="paper_name" id="paper_name" onblur="checkname();" value=
    <?php echo $arr['paper_name']; ?> />
  </p>
  <p>
    纸板价格：
    <input type="text" name="paper_price" id="paper_price" onblur="checkprice();" value=
    <?php echo $arr['paper_price']; ?> />
  </p>
   <p>
    
    可用与否：<select name="paper_state" id="paper_state">
    <option <?php echo $arr['paper_state']=='0'?"selected='selected'":""; ?> value="0">不显示</option>
    <option <?php echo $arr['paper_state']=='1'?"selected='selected'":""; ?> value="1">显示</option>
    <option <?php echo $arr['paper_state']=='2'?"selected='selected'":""; ?> value="2">其他</option>
    </select>
  </p>
  <p>
    <input type="submit" name="button" id="button" value="提交" />
    <input type="reset" name="button2" id="button2" value="重置" />
  </p>
</form>
</div>
</body>
<SCRIPT TYPE="text/javascript">
function checkprice(){ 
  var price=$("#paper_price").val();
  var str = price.match(/^\d+(\.\d+)?$/);
  // console.log(str);
  // console.log(str[0]);
  if (str) {
     $("#flag").text('');
    return true;
  }else{
    
    $("#flag").text('输入价格的必须是纯数字！');
    return false;
  }

}
function checkname(){
  var name=$("#paper_name").val();
  var pname=name.match(/\s+/g);
  // console.log(name.length);
  if(pname==null && name.length>0){
    $("#flag").text('');
    return true;
  }else{
   
    $("#flag").text('输入数字不能有空格!');
    return false;
  }

}
function checkprop(){
  var prop=$("#paper_property").val();
  var pval=prop.match(/\s+/g);
  // console.log(pval);
  // console.log(prop.length);
  if(pval==null && prop.length>0){
     $("#flag").text('');
    return true;
  }else{
    
    $("#flag").text('输入数字不能有空格!');
    return false;
  }

}
function checkSup(){
  var sup=$("#sup_id").val();
  // console.log(sup);
  if(sup!=0){
     $("#flag").text('');
      return true;
  }else{
    $("#flag").text('请选择供应商！');
    return false;
  }
}
function checkAll(){
  if(checkprop() && checkname() && checkprice() && checkSup()){
    return true;
  }else{
    return false;
  }

}

</SCRIPT>
</html>

