<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>


</head>
<style type="text/css">
	
</style>
<script src="<?php echo PUB; ?>Public/js/jquery-1.4.4.min.js" type="text/javascript"></script>
<body>

<div id='div1' align="center">
  <div id="flag" style="color:red"></div>
  <p>
  <form id="form1" name="form1" method="get" action="<?php echo PUB; ?>Home/Paper/schPaper" onsubmit="return checkAll();" >
供应商：<select name="sup_id" id="sup_id" onchange="checkprop();" >
    <option value="0">请选择</option>
    <?php foreach ($suplist as $sup): ?>

      <option  value="<?php echo $sup['id']?>">
        <?php echo $sup['sup_name']; ?>
      </option>

   <?php endforeach; ?>
    </select>
  &nbsp;纸板材质：<input type="text" name="paper_property" id="paper_property" onblur="checkprop();" />
    &nbsp;<input type="submit" name="button" id="button" value="提交" />
  </form>
</p>
<table width="90%" height="" border="0" align="center">
  <tr width="" bgcolor="#CCCCCC">
    <th width="" scope="col">id</th>
    <th width="" scope="col" >供应商名称</th>
    <th width="" scope="col" >纸板材质名称</th>
    <th width="" scope="col">纸板瓦楞类型</th>
    <th width="" scope="col">纸板每平方米价格(单位元)</th>
    <th width="" scope="col">纸板每平方米克重（g/㎡）</th>
    <th width="" scope="col">状态</th>
    <th width="" scope="col">操作</th>
    
  </tr>
    <?php $i=0;?>
      <?php foreach($list as $arr): ?>
      <?php $i++; ?>

  <tr style="text-align: center;" bgcolor="<?php echo $i%2==0?'#CCCCCC':''; ?>">
    <th scope="row"><?php echo $arr['id']; ?>
    </th>
    <td><?php echo $arr['sup_name']; ?>
    </td> 
  
    <td><?php echo $arr['paper_property']; ?>
    </td>
    <td><?php echo $arr['paper_name'];  ?>
    </td>
    <td><?php echo $arr['paper_price']; ?>
    </td>
    <td><?php echo $arr['gram_weight']; ?>
    </td>
    <td><?php echo $arr['paper_state']; ?>
    </td>
	<td ><a href="<?php echo PUB; ?>Home/Paper/editPaper/id/<?php echo $arr['id']; ?>" title="修改！" >修改</a>
    </td>
    
  </tr>

	<?php endforeach;?>
</table>
<?php echo $page; ?>
</div>
</body>
<script type="text/javascript">
  function checkprop(){

    var sup=$("#sup_id").val();
    var prop=$("#paper_property").val();
    var pval=prop.match(/\s+/g);
    // console.log(pval);
    // console.log(prop.length);
    if(sup!=0 || (pval==null && prop.length>0) ){
       $("#flag").text('');
      return true;
    }else{
      
      $("#flag").text('输入数字不能有空格!');
      return false;
    }

  }


  function checkAll(){
    if( checkprop() ){
      return true;
    }else{
      return false;
    }  
  }

    

  
</script>
</html>
