<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>


</head>
<style type="text/css">
  div{
    text-align: center;
  }
  #image{
    border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;
    width:23px;
    height: 23px;
    /*background-image:url(<?php echo PUB; ?>Public/image/no1.png);*/
    background-color:white;
    
  }
</style>
<script src="<?php echo PUB; ?>Public/js/jquery-1.4.4.min.js" type="text/javascript"></script>
<body>
  <div style="height: 50px;"></div>
<div >
<form id="form1" name="form1" method="post" action="<?php echo PUB; ?>Home/Customer/addCusPaper/id/<?php echo ''; ?>" 
  onsubmit="return checkAll();">
  <p>添加客户纸板</p>
  <p id='flag' style="color:red;"></p>
   <p>
    
    供应商：<select name="sup_id" id="sup_id" onchange="checkSup();" >
    <option value="0">请选择</option>
    <?php foreach ($suplist as $sup): ?>
      <option value="<?php echo $sup['id']?>"><?php echo $sup['sup_name']; ?></option>
   <?php endforeach; ?>
    </select>&nbsp;
     客户编号：
    <input type="text" name="customer_t" id="customer_t" onblur="getCode();" style="width:100px" />

    <select name="customer_s" id="customer_s" onchange="getCusCode();" >

    <option value = "0" >请选择</option>
    <?php foreach ($cusdata as $cusfo): ?>
      <option class='<?php echo $cusfo['customer_code']; ?>'
       value="<?php echo $cusfo['id']; ?>" ><?php echo $cusfo['customer_name']; ?>
      </option>
    <?php endforeach; ?>
    </select>&nbsp;<input id="image" class='customer_code' disabled="disabled">

  </p>
  <p>
    纸板材质名称：
    <input type="text" name="paper_property" id="paper_property" onblur="checkprop();" style="width:100px" value="" />

    <select name="paper_id" id="paper_id" onchange="getName();" >

    <option value="0">请选择</option>
    
    </select>&nbsp;<input id="image" class='paper_p' disabled="disabled">
    </p>
    <p>
    客户报价：
    <input type="text" name="cuspa_price" id="cuspa_price" style="width:100px" onblur="checkCusPrice();"/>&nbsp;
    <input id="image" class='cuspa_price' disabled="disabled">
    可用与否：<select name="paper_state" id="paper_state" >
    <option value="0">不显示</option>
    <option selected='selected' value="1">显示</option>
    <option value="2">其他</option>
    </select>
  </p>
  <p>
    
    纸板瓦楞类型：
    <input type="text" name="paper_name" id="paper_name" style="width:50px" 
    disabled="disabled" />
    纸板克重：
    <input type="text" name="gram_weight" id="gram_weight" style="width:50px" 
    disabled="disabled" />&nbsp;g/㎡
  </p>
  <p>
    纸板价格：
    <input type="text" name="paper_price" id="paper_price" style="width:100px" disabled="disabled"  /> &nbsp;
    
  </p>
  <input type="hidden" id="inflag" value="" >
  <p>
    <input type="submit" name="button" id="button" value="提交" />
    <input type="reset" name="button2" id="button2" value="重置" />
  </p>
</form>
</div>
</body>
<script type="text/javascript">
function checkAll(){
  var sid=$("#sup_id").val();
  var cus=$("#customer_s").val();
  var pid=$("#paper_id").val();

  // console.log(sid);
  // console.log(cus);
  // console.log(pid);
  if(sid!='0' && cus!='0' && pid!='0'&& checkCusPrice()){
    return true;
  }else{
    return false;
  }
    
  
}
function checkCusPrice(){
  
  var price=$("#cuspa_price").val();
  var str = price.match(/^\d+(\.\d+)?$/);
  // console.log(str);
  // console.log(str[0]);
  if (str) {
    $(".cuspa_price").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)');
    return true;
  }else{
    
    $(".cuspa_price").css("background-image",'url(<?php echo PUB; ?>Public/image/no.png)');
    return false;
  }
}

function checkprop(){
  var prop=$("#paper_property").val();
  var pval=prop.match(/^\s+$/);
  var sup_id=$("#sup_id").val();
  // console.log(pval);
  // console.log(prop);
  
  console.log(sup_id);
  if(pval==null && prop.length > 0 && sup_id!='0'){
    myAjax(prop,sup_id);
    
  
    var fval = $("#paper_id option[id="+prop+"]").attr('id');
    $("#paper_id option[id="+prop+"]").attr("selected","selected");
    // console.log(c_val);
    // console.log(fval);
    if(fval==undefined){
      $(".paper_p").css("background-image",'url(<?php echo PUB; ?>Public/image/no.png)');
    }else{
      $(".paper_p").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)');
    }

    $("#flag").text('');
    return true;
  }else{
    
    $("#flag").text('输入数字不能有空格!');
    return false;
  }

}

function getName(){
  // var paper_id=$("#paper_id").val();
  // var te=$("#paper_id[id]");
  var prop=$("#paper_id option:selected").text();
  $("#paper_property").attr("value",prop);

  var sup_id=$("#sup_id").val();
  if(sup_id!='0'){
    myAjax(prop,sup_id);
  }
  
  // console.log(prop); 
}
function getCode(){
  var c_val = $("#customer_t").val(); 
  
  var fval = $("#customer_s option[class="+c_val+"]").attr("value");
  $("#customer_s option[class="+c_val+"]").attr("selected","selected");
  // console.log(c_val);
  // console.log(fval);
  if(fval==undefined){
    $(".customer_code").css("background-image",'url(<?php echo PUB; ?>Public/image/no.png)');

    $("#customer_s option[value='0']").attr("selected",true);

  }else{
    $(".customer_code").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)');
  }
  
}

function checkSup(){
  $("#gram_weight").attr("value",' ');        
  $("#paper_name").attr("value",' ');        
  $("#paper_price").attr("value",' '); 
  $("#paper_property").attr("value",' '); 
  var sup_id=$("#sup_id").val();
  // console.log(sup_id);
  if(sup_id!=0){

    $.ajax({
      type: "POST",
      url: "<?php echo PUB ; ?>Home/Ajax/getSupId",
      data: "sup_id="+sup_id,
      success: function(msg){
        // console.log(msg);  

        if(msg!='00'){
          var arr = eval("("+msg+")");
          
          $("option").remove(".child");
          for (var i=0;i<arr.length;i++){

             $("#paper_id").append('<option class="child" id="'+arr[i]['paper_property']+'" value='+arr[i]['id']+' >'+arr[i]['paper_property']+'</option>');
          }
           
        }else{
          
        }
      }
    });

     $("#flag").text('');
      return true;
  }else{
    $("#flag").text('请选择供应商！');
    return false;
  }
}
function getCusCode(){
  // var cusval=$("#customer_s option:selected").text();
  // console.log(cusval);
 
  var c_code=$("#customer_s option:selected").attr("class"); 
  $("#customer_t").attr("value",c_code);
  $(".customer_code").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)');
  // console.log(c_code);
}

function myAjax(prop,sup_id){
  $.ajax({
      type: "POST",
      url: "<?php echo PUB ; ?>Home/Ajax/getPaper",
      data: "paper_py="+prop+"&sup_id="+sup_id,
      success: function(msg){
        // console.log(msg);
        if(msg!='00'){
          var arr = eval("("+msg+")");
          $("#gram_weight").attr("value",arr['gram_weight']);        
          $("#paper_name").attr("value",arr['paper_name']);        
          $("#paper_price").attr("value",arr['paper_price']);        
          $(".paper_p").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)'); 
          $("#inflag").attr("value","yse");  
        }else{
          $("#gram_weight").attr("value",' ');        
          $("#paper_name").attr("value",' ');        
          $("#paper_price").attr("value",' '); 
          $("#paper_id option[value='0']").attr("selected",true);
          $(".paper_p").css("background-image",'url(<?php echo PUB; ?>Public/image/no.png)');  
          $("#inflag").attr("value","no"); 

        }
      }
    });
}
</script>
</html>