<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>


</head>
<style type="text/css">
  #div1{
    text-align: center;
  }
  #customer{

     width:100px;
  }
  #image{
    border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;
    width:23px;
    height: 23px;
    /*background-image:url(<?php echo PUB; ?>Public/image/no.png);*/
    background-color:white;
    
  }
  #box{
    width:50px;
  }
  #order_price{
    width:60px;
  }
  #name{
    width:400px;
  }
	#button{
	width:70px;
	height:30px;
	}
</style>
<script src="<?php echo PUB; ?>Public/js/jquery-1.4.4.min.js" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo PUB; ?>Public/My97DatePicker/WdatePicker.js"></script>
<body>
 
<div id="div1" >
<form id="form1" name="form1" method="post" action="<?php echo PUB; ?>Home/Order/addOrder/">
   <div>
  <p>添加订单</p>
  
  <p>
    客户编号：
    <input type="text" name="customer_code" id="customer_code" onblur="getCode();" style="width:70px" />

    <select name="customer_s" id="customer_s" onchange="getCusCode();" >
      <option value="0" >请选择</option>
      <?php foreach ($cus as $value): ?>
    <option value="<?php echo $value['id']; ?>" class="<?php echo $value['customer_code']; ?>" >
      <?php echo $value['customer_name']; ?>
    </option>
    <?php  endforeach; ?>
    </select>&nbsp;<input id="image" class="customer_code" disabled="disabled">
    客户余额：
    <input type="text" name="customer_name" id="customer_name" style="width:100px"
    readonly="readonly" value="8000.000" />&nbsp;元
  </p>
 <p>
  管理号：
    <input type="text" name="mant_num" id="mant_num" value="" onblur="checkmnum();" />&nbsp;
    <input id="image" disabled="disabled">&nbsp;

    是否加急：<select name="order_urgent" id="order_urgent">
    <option value="0">不加急</option>
    <option value="1">加急</option>
    <option value="2">其他</option>
    </select>&nbsp;
    盒式：<select name="box_prop" id="box_prop">
    <option value="0">普通箱</option>
    <option value="1">上公差</option>
    <option value="2">其他</option>
    </select>
     </p>
  <p>

   品名：
    <input type="text" name="shg_name" id="name" />
    </p>
  </div>
    
    材质：
    <input type="text" name="paper_property" id="paper_property" onblur="getpro();" style="width:100px"
    />
  
    <select name="property_s" id="property_s" onchange="getpro_s();">
    <option value="0">请选择</option>
    
    </select>&nbsp;<input id="image" class="paper_property" disabled="disabled">&nbsp;

    统板：<select name="is_paper" id="is_paper">
    <option value="0">不用</option>
    <option value="1">用</option>
    </select>&nbsp;
    楞别：<input type="text" name="paper_name" id="box" disabled="disabled" value="AB" /> 
    <p>
      规格：长&nbsp;<input type="text" name="box_long"  id="box" />&nbsp;
      X&nbsp;宽&nbsp;<input type="text" name="box_width" id="box" />&nbsp;
      X&nbsp;高&nbsp;<input type="text" name="box_height" id="box" />&nbsp;MM&nbsp;<input id="image" disabled="disabled">
    </p>
     订单数量： <input type="text" name="order_num"  id="box" />&nbsp;

     单价： <input type="text" name="order_price"  id="order_price" readonly="readonly" value="12.000" />&nbsp;
     版费+模具费： <input type="text" name="order_otherprice"  id="box" />&nbsp;<span style="color:red;">元</span>
   
    <p> 几色印刷：<select name="map_color" id="map_color">
    <option value="1">单色印刷</option>
    <option value="2">双色印刷</option>
    <option value="3">三色印刷</option>
    <option value="4">四色印刷</option>
    <option value="5">不印刷</option>
    <option value="6">其他</option>
    </select>&nbsp;
是否需要制图：<select name="order_map" id="order_map">
    <option value="0">不需要</option>
    <option value="1">需要</option>
    </select>&nbsp;

	送货日期： <input type="text" name="del_date"  id="del_date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"
  style='width:100px' readonly="readonly" />    
    </p> 
    <p>
  送货地址：<input type="text" name="customer_adress"  id="name" disabled="disabled" value="1235545" />
  </p>
  <p>
    <input type="submit" name="button" id="button" value="提交" />&nbsp;
    <input type="reset" name="button2" id="button" value="重置" />
  </p>
</form>
</div>
</body>
<script type="text/javascript">
function getCode(){
  var c_val = $("#customer_code").val(); 
  
  var fval = $("#customer_s option[class="+c_val+"]").attr("value");
  $("#customer_s option[class="+c_val+"]").attr("selected","selected");
  // console.log(c_val);
  // console.log(fval);
  if(fval==undefined){
    $(".customer_code").css("background-image",'url(<?php echo PUB; ?>Public/image/no.png)');

    $("#customer_s option[value='0']").attr("selected",true);
    return false;

  }else{
    $(".customer_code").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)');
    $("#mant_num").attr("value",c_val+"-");
    $("option").remove(".child");
    getCP();
  
  }
  
}
function getCusCode(){
  // var cusval=$("#customer_s option:selected").text();
  // console.log(cusval);
 
  var c_code=$("#customer_s option:selected").attr("class"); 
  $("#customer_code").attr("value",c_code);
  $("#mant_num").attr("value",c_code+"-");
  $(".customer_code").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)');
  $("option").remove(".child");
  getCP();
  // console.log(c_code);
}
function getCP(){
    var cus_code=$("#customer_code").val();
  // console.log(sup_id);
    if(cus_code){

      $.ajax({
        type: "POST",
        url: "<?php echo PUB ; ?>Home/Ajax/getCusPaper",
        data: "customer_code="+cus_code,
        success: function(msg){
          // console.log(msg);  

          if(msg!='00'){
            var arr = eval("("+msg+")");
            
            $("option").remove(".child");
            for (var i=0;i<arr.length;i++){

               $("#property_s").append('<option class="child" id="'+arr[i]['paper_property']+'" value='+arr[i]['id']+' >'+arr[i]['paper_property']+'</option>');
            }
             
          }else{
            
          }
        }
      });

    }
}
function getpro(){
  var c_val = $("#paper_property").val(); 
  
  var fval = $("#property_s option[id="+c_val+"]").attr("value");
  $("#property_s option[id="+c_val+"]").attr("selected","selected");
  // console.log(c_val);
  // console.log(fval);
  if(fval==undefined){
    $(".paper_property").css("background-image",'url(<?php echo PUB; ?>Public/image/no.png)');

    $("#property_s option[value='0']").attr("selected",true);
    

  }else{
    $(".paper_property").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)');
    
  }
  
}
function getpro_s(){
  var p_val = $("#property_s option:selected").attr("id"); 
  $("#paper_property").attr("value",p_val);
  // console.log(c_val);
  $(".paper_property").css("background-image",'url(<?php echo PUB; ?>Public/image/yes.png)');
}
function checkmnum(){

}
</script>
</html>

