<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<style type="text/css">
#button {
	background-color: #DBDBDB;
	height:30px;
	width:70px;
}
#div1 {
	text-align: center;
}
</style>
<body>
<div id="div1">
<form id="form1" name="form1" method="post" action="">
订单管理1<br />
    <label>
      
      <input type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0" />
  复选框</label>
    <label>
      <input type="checkbox" name="CheckboxGroup1_2" value="复选框" id="CheckboxGroup1_4" />
      复选框</label>
    <label>
      <input type="checkbox" name="CheckboxGroup1_4" value="复选框" id="CheckboxGroup1_8" />
      复选框</label>
 
  <br />
  订单管理2<br />
  <label> 
    <input type="checkbox" name="CheckboxGroup1_5" value="复选框" id="CheckboxGroup1_9" />
    复选框</label>
  
   
  
  <p>
    <input type="submit" name="button" id="button" value="提交" />
    <br />
  </p>
</form>
</div>
</body>
</html>
