<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>


</head>
<style type="text/css">
	
</style>
<script src="<?php echo PUB; ?>Public/js/jquery-1.4.4.min.js" type="text/javascript"></script>
<body>

<div id='div1' align="center"><p>
所属父类ID：
<select onchange="link();" name="p_id" id="select1">
	<option value='0'>请选择</option>
	<?php foreach($names as $name): ?>
	<?php if($name['p_id']=='0'): ?>
	
		<option  value="<?php echo $name['id']; ?>" <?php echo $name['id']==$pval?'selected=selected':''; ?>>
		<?php echo $name['qx_name']; ?>
		</option>
    <?php endif; ?>
	<?php endforeach; ?>
	
    </select>
	</p>
<table width="96%" height="" border="0">
  <tr width="" style="text-align: center;" bgcolor="#CCCCCC">
    <th width="" scope="col"><?php echo array_keys($list[0])[0]; ?></th>
    <th width="" scope="col"><?php echo array_keys($list[0])[1]; ?></th>
    <th width="" scope="col"><?php echo array_keys($list[0])[2]; ?></th>
    <th width="" scope="col"><?php echo array_keys($list[0])[3]; ?></th>
    <th width="" scope="col"><?php echo array_keys($list[0])[4]; ?></th>
    <th width="" scope="col">状态</th>
    <th width="" scope="col">操作</th>
    
    
  </tr>
  <?php $i=0;?>
  <?php foreach($list as $arr): ?>
      <?php $i++ ?>
  <tr style="text-align: center;" bgcolor="<?php echo $i%2==0?'#CCCCCC':''; ?>" >
    <th scope="row"><?php echo $arr['id']; ?></th>
    <td><?php echo $arr['qx_name']; ?></td>
    <td><?php echo $arr['p_id']; ?></td>
    <td><?php echo $arr['action']; ?></td>
    <td><?php echo $arr['group_id']; ?></td>
    <td><?php echo $arr['state']; ?></td>
    <td><a href="<?php echo PUB; ?>Home/Qxian/qxedit/id/<?php echo $arr['id'] ; ?>" >修改</a>  
  </tr>
	<?php endforeach; ?>
</table>
<?php echo $page; ?>
</div>
<script type="text/javascript">
function link(){
var selval=$('#select1').val();
this.location.href='<?php echo PUB; ?>Home/Qxian/listshow/id/'+selval;
}

</script>

</body>
</html>
